@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Jost", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button {
  cursor: pointer;
  border: 0;
}
